body{
    background-color:#4793FF;

    color:rgb(20, 20, 20)
}
h1{
    background-color: #3483FF;

    color: rgb(12, 12, 12);

}
h2{
    background-color:#3483FF;
    color: #080808;
}
strong{
    font-size: 60px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
a{
    color: rgb(255, 252, 252);
    font-size: larger;
    background-color: rgb(8, 8, 8);
    padding: 1px;    


}

a:hover{
    color: aliceblue;
    background-color: black;
}